{#
 * 
 * 
 * @package WordPress
 * @subpackage 
 * @category theme
 * @category view
 * @author Paul Gilzow, Mizzou Creative, University of Missouri
 * @copyright 2016 Curators of the University of Missouri
#}

    <h1>{{ PageTitle }}</h1>
    {{ MainPost.content }}
<pre>
    {{ MainPost | var_export }}
</pre>

